<html>
    <head>
        <title>Alduin</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="./../../../node_modules/normalize.css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="./../../../node_modules/font-awesome/css/font-awesome.min.css" />
    </head>
    <body>
        <div id="root"></div>
        <script src="./../../../node_modules/react/dist/react.min.js"></script>
        <script src="./../../../node_modules/react-dom/dist/react-dom.min.js"></script>

        <script src="../js/dist.js"></script>
    </body>
</html>