@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
}
